.example1{
    width: auto;
    background-color: bisque;
    padding: 0;
    margin: 0;
    border: 0;
}
.example2{
    width: auto;
    background-color: magenta;
    padding: 50px;
    margin: 40px;
    border: 5px solid greenyellow;
}
.image1{
    float: left;
}
.image2{
    float: right;
}