body {
     background-color: darkgrey;
     background-image: url("image.png") center;
     color:black ;
     font-family:'Segoe UI', Tahoma,sans-serif, Verdana, sans-serif;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 100;
    background:url("image.png");
}

.hero-text {
    flex: 1;
}
.hero h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: goldenrod;
}
.hero span{
    color: red;
    font-family:script;
}

.btn-custom {
    background-color:grey;
    border: none;
    padding: 5px 10px;
margin-right: 10px;
border-radius: 25px;
font-size: 1.1 rem;
}
.btn-custom:hover{
    background-color: white;
}
